.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 20px;
  padding: 0 19px;
}

@media screen and (min-width: 700px) {
  .cards {
    grid-gap: 17px;
    padding: 0;
  }
}
