.popup__form {
  max-width: 282px;
  color: #000;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 0 22px;
  margin-left: 19px;
  margin-right: 19px;
}

@media screen and (min-width: 700px) {
  .popup__form {
    max-width: 430px;
    min-height: 330px;
    padding: 34px 36px 37px;
  }
}
