.cards__heart {
  background: url("../../../images/heart.svg") no-repeat center;
  background-size: cover;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity .2s;
}

.cards__heart:hover {
  opacity: .5;
}
